@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

//Variables
$bg-color: #3F72AF;
$htext-color: #112D4E;
$text-color: #000;
$white: #fff;
$card-color: #F9F7F7;
$deactive-color: #AAAAAA;
$checked: #00E995;
$del: #f00;
$task-color: #DBE2EF;
$font: 'Poppins', sans-serif;
$shadow: 0 0 25px rgba(0, 0, 0, 0.9);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font;
}

html::-webkit-scrollbar {
    width: 0;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: $bg-color;

    .container {
        width: 600px;
        height: 100%;
        background: $card-color;
        border-radius: 13px;
        padding: 1.9rem 2.5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        box-shadow: $shadow;
        position: relative;
    }

    .input_layer {
        width: 90%;
        margin: 15px auto 5px;

        .add-task {
            width: 87%;
            outline: none;
            border: none;
            background: $task-color;
            padding: 0.4rem 1rem;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }

        .add-btn {
            border: none;
            outline: none;
            padding: 0.4rem 1rem;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            margin-left: -5.5px;
            font-weight: 600;
            background: $bg-color;
            color: $white;
            transition: background 0.4s ease-in-out;

            &:hover {
                background: darken($color: $bg-color, $amount: 10);
            }

            &:active {
                background: adjust-color($color: $bg-color, $lightness: 10);
                transition: 0.2s;
            }
        }
    }

    hr {
        width: 100%;
        border: 0.5px solid rgba(0, 0, 0, 0.5);
        margin-top: 10px;
    }
    
    .author {
        position: absolute;
        bottom: 3px;
        right: 10px;
        font-size: 10px;
        font-style: italic;

        b {
            font-style: bold;
            font-size: 12px;
        }
    }

    .task-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0 10px;
        padding: 0 1rem;

        .task {
            width: 100%;
            background: $task-color;
            padding: 0.5rem 0.6rem;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            border-radius: 6px;
            font-size: 16px;

            .task-done {
                text-decoration: line-through;
                color: $deactive-color;
            }
            

            .btns button {
                width: 27px;
                height: 25px;
                font-size: 13px;
                border-radius: 3px;
                outline: none;
                border: none;
                background: transparent;
                font-weight: 600;
                background: rgba(0, 0, 0, 0.18);
            }

            .btns .check {
                color: $checked;
                &:hover {
                    color: #000;
                    background: $checked;
                    transition: 0.3s ease-in-out;
                }

                i {
                    pointer-events: none;
                }
            }

            .btns .delete {
                color: $del;
                &:hover {
                    color: #000;
                    background: $del;
                    transition: 0.3s ease-in-out;
                }

                i {
                    pointer-events: none;
                }
            }
        }

        .empty {
            width: 100%;
            background: $task-color;
            padding: 2rem;
            border-radius:6px;
            text-align: center;
            font-size: 20px;
            font-weight: 500;
        }
    }
}